body {
    background-color: #f4f6f9;
    font-family: Arial;
}

.login-box {
    width: 300px;
    margin: 120px auto;
    padding: 25px;
    background: white;
    box-shadow: 0 0 10px #ccc;
    border-radius: 8px;
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#error {
    color: red;
    margin-top: 10px;
}