<!DOCTYPE html>
<html>
<head>
    <title>Dashboard | Time Table System</title>
    <link rel="stylesheet" href="dashboard.css">
    
</head>
<body>

<div class="sidebar">
    <h2>Admin</h2>
    <a href="#">Dashboard</a>
    <a href="index.html">Generate Timetable</a>
    <a href="#">Faculty</a>
    <a href="#">Subjects</a>
    <a href="#">Rooms</a>
    <a href="login.html">Logout</a>
</div>

<div class="main">
    <h1>Dashboard</h1>

    <div class="cards">
        <div class="card">Total Faculties<br><b>12</b></div>
        <div class="card">Total Subjects<br><b>8</b></div>
        <div class="card">Classrooms<br><b>6</b></div>
        <div class="card">Timetables<br><b>3</b></div>
    </div>
</div>

</body>
</html>